/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.hidden {
	display: none !important;
}

button {
	font-family: 'Syne';
	border-width: 1px;
	border-radius: 36px;
	line-height: 36px;
	padding: 0px 20px;
	margin: 0px 6px;
	font-size: 16px;
	color: white;
	border-color: #1D6154;
	background-color: #1D6154;
	cursor: pointer;
}

button:hover {
	background-color: #15473e;
	border-color: #15473e;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.filters {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 10px 0 30px 0;
}

.filters button {
	font-family: 'Syne';
	border-width: 1px;
	border-radius: 36px;
	line-height: 36px;
	padding: 0px 20px;
	margin: 0px 6px;
	font-size: 16px;
	color: #1D6154;
	border-color: #1D6154;
	background-color: white;
	cursor: pointer;
}

.filters button:hover {
	color: white;
	border-color: #1D6154;
	background-color: #1D6154;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


#login {
	width: 50%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login a {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}


#login-message {
	font-weight: 700;
	color: red;
	text-align: center;
	margin: 30px 0 0 0;
}



input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex content */
	width: 100%;
	height: 100%;
	/* dock */
	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 5;
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-width: 400px;
	max-width: calc(100vw - 30%);
	max-height: calc(100vh - 30%);
	border-radius: 10px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
	padding: 80px;
	background-color: white;
	z-index: 10;
	box-sizing: border-box;
}

.modal-content hr {
	width: 100%;
	margin: 6px 0 6px 0;
}

.pictures {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	overflow: scroll;
}

.pictures img {
	width: 100%;
}

.pictures figure {
	position: relative;
}

.delete-button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 6px;
	cursor: pointer;
	background-color: black;
	color: white;
	border-radius: 3px;
}

.pictures figure:hover .delete-button {
	display: block;
}

.close-button {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
	margin: 16px;
}